/Clase02/Aprendizaje/nbproject/private/
/Clase02/Aprendizaje/build/
/Clase02/AppVenta/nbproject/private/
/Clase02/AppVenta/build/
/Clase03/AppBono/build/
/Clase03/AppBono/nbproject/private/
/Clase04/ViaExitos/build/
/Clase04/ViaExitos/nbproject/private/
/Clase05/MateApp/build/
/Clase05/MateApp/nbproject/private/
/Clase05/Aprendiendo/nbproject/private/
/Clase05/Aprendiendo/build/
/Clase06/AppComp/nbproject/private/
/Clase06/AppComp/build/
/Clase06/Clase06/nbproject/private/
/Clase06/ApendiendoJava/nbproject/private/
/Clase06/ApendiendoJava/build/
/Clase06/CambioApp/nbproject/private/
/Clase06/CambioApp/build/